venv/
node_modules/
.env
__pycache__/
.next/
.DS_Store
/books/
styling.md
Screens-from-Figma/
backend/lambda/functions/function.zip
.gitignore
backend/lambda/response.json
backend/lambda/function.zip
backend/notes.txt
backend/lambda/functions/getTrendingBooks.zip
backend/lambda/functions/response.json
backend/lambda/functions/response.json
.claude/
